@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
/*!
 *   AdminLTE v2.3.8
 *   Author: Almsaeed Studio
 *	 Website: Almsaeed Studio <http://almsaeedstudio.com>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/body,html {
    height:100%
}
body {
    font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:400;
    overflow-x:hidden;
    overflow-y:auto
}
.h1,.h2,.h3,.h4,.h5,.h6,.qubHeader h1,h2,h3,h4,h5,h6 {
    font-family:'Source Sans Pro',sans-serif
}
.qubHeader a:hover,a:active,a:focus {
    outline:0;
    text-decoration:none!important
}
.page-header {
    margin:10px 0 20px 0;
    font-size:22px
}
.page-header>small {
    color:#666;
    display:block;
    margin-top:5px
}
.qubHeader {
    position:relative;
    max-height:100px;
    z-index:1030
}
.lmenu-button {
    float:left;
    background-color:transparent;
    background-image:none;
    padding:15px 15px;
    color:#fff;
    text-decoration:none
}
.qubHeader .navbar {
    -webkit-transition:margin-left .3s ease-in-out;
    -o-transition:margin-left .3s ease-in-out;
    transition:margin-left .3s ease-in-out;
    margin-bottom:0;
    margin-left:230px;
    border:none;
    min-height:50px;
    border-radius:0
}
.layout-top-nav .qubHeader .navbar {
    margin-left:0
}
.qubHeader #navbar-search-input.form-control {
    background:rgba(255,255,255,.2);
    border-color:transparent
}
.qubHeader #navbar-search-input.form-control:active,.qubHeader #navbar-search-input.form-control:focus {
    border-color:rgba(0,0,0,.1);
    background:rgba(255,255,255,.9)
}
.qubHeader #navbar-search-input.form-control::-moz-placeholder {
    color:#ccc;
    opacity:1
}
.qubHeader #navbar-search-input.form-control:-ms-input-placeholder {
    color:#ccc
}
.qubHeader #navbar-search-input.form-control::-webkit-input-placeholder {
    color:#ccc
}
.qubHeader .navbar-custom-menu,.qubHeader .navbar-right {
    float:right
}
@media (max-width:991px) {
    .qubHeader .navbar-custom-menu a,.qubHeader .navbar-right a {
        color:inherit;
        background:0 0
    }
}
@media (max-width:767px) {
    .qubHeader .navbar-right {
        float:none
    }
    .navbar-collapse .qubHeader .navbar-right {
        margin:7.5px -15px
    }
    .qubHeader .navbar-right>li {
        color:inherit;
        border:0
    }
}
.qubHeader .sidebar-toggle {
    float:left;
    background-color:transparent;
    background-image:none;
    padding:15px 15px
}
.qubHeader .sidebar-toggle:before {
    content:none
}
.qubHeader .sidebar-toggle:hover {
    color:#fff
}
.qubHeader .sidebar-toggle:active,.qubHeader .sidebar-toggle:focus {
    background:0 0
}
.qubHeader .sidebar-toggle .icon-bar {
    display:none
}
.qubHeader .navbar .nav>li.user>a>.fa,.qubHeader .navbar .nav>li.user>a>.glyphicon,.qubHeader .navbar .nav>li.user>a>.ion {
    margin-right:5px
}
.qubHeader .navbar .nav>li>a>.label {
    position:absolute;
    top:9px;
    right:7px;
    text-align:center;
    font-size:9px;
    padding:2px 3px;
    line-height:.9
}
.qubHeader .logo {
    -webkit-transition:width .3s ease-in-out;
    -o-transition:width .3s ease-in-out;
    transition:width .3s ease-in-out;
    display:block;
    float:left;
    height:50px;
    font-size:20px;
    line-height:50px;
    text-align:center;
    width:230px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:0 15px;
    font-weight:300;
    overflow:hidden
}
.qubHeader .logo .logo-lg {
    display:inline
}
.qubHeader .logo .logo-mini {
    display:none
}
.qubHeader .navbar-brand {
    color:#fff
}
.content-header {
    position:relative;
    padding:15px 15px 0 15px
}
.content-header>h1 {
    margin:0;
    font-size:24px
}
.content-header>h1>small {
    font-size:15px;
    display:inline-block;
    padding-left:4px;
    font-weight:300
}
.content-header>.breadcrumb {
    float:right;
    background:0 0;
    margin-top:0;
    margin-bottom:0;
    font-size:12px;
    padding:7px 5px;
    position:absolute;
    top:15px;
    right:10px;
    border-radius:2px
}
.content-header>.breadcrumb>li>a {
    color:#444;
    text-decoration:none;
    display:inline-block
}
.content-header>.breadcrumb>li>a>.fa,.content-header>.breadcrumb>li>a>.glyphicon,.content-header>.breadcrumb>li>a>.ion {
    margin-right:5px
}
.content-header>.breadcrumb>li+li:before {
    content:'>\00a0'
}
@media (max-width:991px) {
    .content-header>.breadcrumb {
        position:relative;
        margin-top:5px;
        top:0;
        right:0;
        float:none;
        background:#d2d6de;
        padding-left:10px
    }
    .content-header>.breadcrumb li:before {
        color:#97a0b3
    }
}
.navbar-toggle {
    color:#fff;
    border:0;
    margin:0;
    padding:15px 15px
}
@media (max-width:991px) {
    .navbar-custom-menu .navbar-nav>li {
        float:left
    }
    .navbar-custom-menu .navbar-nav {
        margin:0;
        float:left
    }
    .navbar-custom-menu .navbar-nav>li>a {
        padding-top:15px;
        padding-bottom:14px!important;
        line-height:20px
    }
}
@media (max-width:767px) {
    .qubHeader {
        position:relative
    }
    .qubHeader .logo,.qubHeader .navbar {
        width:100%;
        float:none
    }
    .qubHeader .navbar {
        margin:0
    }
    .qubHeader .navbar-custom-menu {
        float:right
    }
}
@media (max-width:991px) {
    .navbar-collapse.pull-left {
        float:none!important
    }
    .navbar-collapse.pull-left+.navbar-custom-menu {
        display:block;
        position:absolute;
        top:0;
        right:40px
    }
}
.dropdown-menu {
    box-shadow:none;
    border-color:#eee
}
.dropdown-menu>li>a {
    color:#777
}
.dropdown-menu>li>a>.fa,.dropdown-menu>li>a>.glyphicon,.dropdown-menu>li>a>.ion {
    margin-right:10px
}
.dropdown-menu>li>a:hover {
    background-color:#e1e3e9;
    color:#333
}
.dropdown-menu>.divider {
    background-color:#eee
}
.navbar-nav>.messages-menu>.dropdown-menu,.navbar-nav>.notifications-menu>.dropdown-menu,.navbar-nav>.tasks-menu>.dropdown-menu {
    width:280px;
    padding:0;
    margin:0;
    top:100%
}
.navbar-nav>.messages-menu>.dropdown-menu>li,.navbar-nav>.notifications-menu>.dropdown-menu>li,.navbar-nav>.tasks-menu>.dropdown-menu>li {
    position:relative
}
.navbar-nav>.messages-menu>.dropdown-menu>li.header,.navbar-nav>.notifications-menu>.dropdown-menu>li.header,.navbar-nav>.tasks-menu>.dropdown-menu>li.header {
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    background-color:#fff;
    padding:7px 10px;
    border-bottom:1px solid #f4f4f4;
    color:#444;
    font-size:14px
}
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    font-size:12px;
    background-color:#fff;
    padding:7px 10px;
    border-bottom:1px solid #eee;
    color:#444!important;
    text-align:center
}
@media (max-width:991px) {
    .navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
        background:#fff!important;
        color:#444!important
    }
}
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a:hover,.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a:hover,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a:hover {
    text-decoration:none;
    font-weight:400
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu {
    max-height:200px;
    margin:0;
    padding:0;
    list-style:none;
    overflow-x:hidden
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    display:block;
    white-space:nowrap;
    border-bottom:1px solid #f4f4f4
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover {
    background:#f4f4f4;
    text-decoration:none
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
    color:#444;
    overflow:hidden;
    text-overflow:ellipsis;
    padding:10px
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion {
    width:20px
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a {
    margin:0;
    padding:10px 10px
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>img {
    margin:auto 10px auto auto;
    width:40px;
    height:40px
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 {
    padding:0;
    margin:0 0 0 45px;
    color:#444;
    font-size:15px;
    position:relative
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4>small {
    color:#999;
    font-size:10px;
    position:absolute;
    top:0;
    right:0
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p {
    margin:0 0 0 45px;
    font-size:12px;
    color:#888
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:after,.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:before {
    content:" ";
    display:table
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:after {
    clear:both
}
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    padding:10px
}
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>h3 {
    font-size:14px;
    padding:0;
    margin:0 0 10px 0;
    color:#666
}
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>.progress {
    padding:0;
    margin:0
}
.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius:0;
    border-top-left-radius:0;
    padding:1px 0 0 0;
    border-top-width:0;
    width:280px
}
.navbar-nav>.user-menu>.dropdown-menu,.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px
}
.qubHeader .navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height:unset!important;
    min-height:175px;
    padding:10px;
    text-align:center
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index:5;
    height:90px;
    width:90px;
    border:3px solid;
    border-color:transparent;
    border-color:rgba(255,255,255,.2)
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    z-index:5;
    color:#fff;
    color:rgba(255,255,255,.8);
    font-size:17px;
    margin-top:10px
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
    display:block;
    font-size:12px
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    padding:15px;
    border-bottom:1px solid #f4f4f4;
    border-top:1px solid #ddd
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after,.navbar-nav>.user-menu>.dropdown-menu>.user-body:before {
    content:" ";
    display:table
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    clear:both
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
    color:#444!important
}
@media (max-width:991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-body a {
        background:#fff!important;
        color:#444!important
    }
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color:#f9f9f9;
    padding:10px
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after,.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before {
    content:" ";
    display:table
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    clear:both
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color:#666
}
@media (max-width:991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
        background-color:#f9f9f9
    }
}
.navbar-nav>.user-menu .user-image {
    float:left;
    width:25px;
    height:25px;
    border-radius:50%;
    margin-right:10px;
    margin-top:-2px
}
@media (max-width:767px) {
    .navbar-nav>.user-menu .user-image {
        float:none;
        margin-right:0;
        margin-top:-8px;
        line-height:10px
    }
}
.open:not(.dropup)>.animated-dropdown-menu {
    backface-visibility:visible!important;
    -webkit-animation:flipInX .7s both;
    -o-animation:flipInX .7s both;
    animation:flipInX .7s both
}
@keyframes flipInX {
    0% {
        transform:perspective(400px) rotate3d(1,0,0,90deg);
        transition-timing-function:ease-in;
        opacity:0
    }
    40% {
        transform:perspective(400px) rotate3d(1,0,0,-20deg);
        transition-timing-function:ease-in
    }
    60% {
        transform:perspective(400px) rotate3d(1,0,0,10deg);
        opacity:1
    }
    80% {
        transform:perspective(400px) rotate3d(1,0,0,-5deg)
    }
    100% {
        transform:perspective(400px)
    }
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);
        -webkit-transition-timing-function:ease-in;
        opacity:0
    }
    40% {
        -webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);
        -webkit-transition-timing-function:ease-in
    }
    60% {
        -webkit-transform:perspective(400px) rotate3d(1,0,0,10deg);
        opacity:1
    }
    80% {
        -webkit-transform:perspective(400px) rotate3d(1,0,0,-5deg)
    }
    100% {
        -webkit-transform:perspective(400px)
    }
}
.navbar-custom-menu>.navbar-nav>li {
    position:relative
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position:absolute;
    right:0;
    left:auto
}
@media (max-width:991px) {
    .navbar-custom-menu>.navbar-nav {
        float:right
    }
    .navbar-custom-menu>.navbar-nav>li {
        position:static
    }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
        position:absolute;
        right:5%;
        left:auto;
        border:1px solid #ddd;
        background:#fff
    }
}
.btn {
    border-radius:3px;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:1px solid transparent
}
.btn.uppercase {
    text-transform:uppercase
}
.btn.btn-flat {
    border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    border-width:1px
}
.btn:active {
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    -moz-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn:focus {
    outline:0
}
.btn.btn-file {
    position:relative;
    overflow:hidden
}
.btn.btn-file>input[type=file] {
    position:absolute;
    top:0;
    right:0;
    min-width:100%;
    min-height:100%;
    font-size:100px;
    text-align:right;
    opacity:0;
    outline:0;
    background:#fff;
    cursor:inherit;
    display:block
}
.btn-default {
    background-color:#f4f4f4;
    color:#444;
    border-color:#ddd
}
.btn-default.hover,.btn-default:active,.btn-default:hover {
    background-color:#e7e7e7
}
.btn-primary {
    background-color:#3c8dbc;
    border-color:#367fa9
}
.btn-primary.hover,.btn-primary:active,.btn-primary:hover {
    background-color:#367fa9
}
.btn-success {
    background-color:#00a65a;
    border-color:#008d4c
}
.btn-success.hover,.btn-success:active,.btn-success:hover {
    background-color:#008d4c
}
.btn-info {
    background-color:#00c0ef;
    border-color:#00acd6
}
.btn-info.hover,.btn-info:active,.btn-info:hover {
    background-color:#00acd6
}
.btn-danger {
    background-color:#dd4b39;
    border-color:#d73925
}
.btn-danger.hover,.btn-danger:active,.btn-danger:hover {
    background-color:#d73925
}
.btn-warning {
    background-color:#f39c12;
    border-color:#e08e0b
}
.btn-warning.hover,.btn-warning:active,.btn-warning:hover {
    background-color:#e08e0b
}
.btn-outline {
    border:1px solid #fff;
    background:0 0;
    color:#fff
}
.btn-outline:active,.btn-outline:focus,.btn-outline:hover {
    color:rgba(255,255,255,.7);
    border-color:rgba(255,255,255,.7)
}
.btn-link {
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn[class*=bg-]:hover {
    -webkit-box-shadow:inset 0 0 100px rgba(0,0,0,.2);
    box-shadow:inset 0 0 100px rgba(0,0,0,.2)
}
.btn-app {
    border-radius:3px;
    position:relative;
    padding:15px 5px;
    margin:0 0 10px 10px;
    min-width:80px;
    height:60px;
    text-align:center;
    color:#666;
    border:1px solid #ddd;
    background-color:#f4f4f4;
    font-size:12px
}
.btn-app>.fa,.btn-app>.glyphicon,.btn-app>.ion {
    font-size:20px;
    display:block
}
.btn-app:hover {
    background:#f4f4f4;
    color:#444;
    border-color:#aaa
}
.btn-app:active,.btn-app:focus {
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    -moz-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn-app>.badge {
    position:absolute;
    top:-3px;
    right:-10px;
    font-size:10px;
    font-weight:400
}
.navbar>.dropdown-menu {
    width:276px;
    margin:0 0 0;
    padding:1px 0 0 0
}
.navbar>.dropdown-menu>li {
    display:flow-root
}
.app-list {
    list-style:none;
    padding-left:5px
}
.app-list li {
    float:left;
    padding:8px
}
.app-list li button {
    width:115px;
    height:115px
}
.app-footer {
    background-color:#f9f9f9;
    padding:8px 15px 8px 15px
}
.app-header {
    background-color:#3c8dbc;
    height:50px
}
.app-header>p {
    font-size:x-large;
    color:#fff;
    padding:8px 15px
}
.app-header a {
    color:#fff;
    padding:15px;
    position:relative;
    display:block
}
.app-header a:hover,a:focus {
    background-color:#367fa9
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height:auto
}
.skin-blue.qubHeader .navbar {
    background-color:#3c8dbc
}
.skin-blue.qubHeader .navbar .nav>li>a {
    color:#fff
}
.skin-blue.qubHeader .navbar .nav .open>a,.skin-blue.qubHeader .navbar .nav .open>a:focus,.skin-blue.qubHeader .navbar .nav .open>a:hover,.skin-blue.qubHeader .navbar .nav>.active>a,.skin-blue.qubHeader .navbar .nav>li>a:active,.skin-blue.qubHeader .navbar .nav>li>a:focus,.skin-blue.qubHeader .navbar .nav>li>a:hover {
    background:rgba(0,0,0,.1);
    color:#f6f6f6
}
.skin-blue.qubHeader .navbar .sidebar-toggle {
    color:#fff
}
.skin-blue.qubHeader .navbar .sidebar-toggle:hover {
    color:#f6f6f6;
    background:rgba(0,0,0,.1)
}
.skin-blue.qubHeader .navbar .sidebar-toggle {
    color:#fff
}
.skin-blue.qubHeader .navbar .sidebar-toggle:hover {
    background-color:#367fa9
}
@media (max-width:767px) {
    .skin-blue.qubHeader .navbar .dropdown-menu li.divider {
        background-color:rgba(255,255,255,.1)
    }
    .skin-blue.qubHeader .navbar .dropdown-menu li a {
        color:#fff
    }
    .skin-blue.qubHeader .navbar .dropdown-menu li a:hover {
        background:#367fa9
    }
}
.skin-blue.qubHeader .logo {
    background-color:#367fa9;
    color:#fff;
    border-bottom:0 solid transparent
}
.skin-blue.qubHeader .logo:hover {
    background-color:#357ca5
}
.skin-blue.qubHeader li.user-header {
    background-color:#3c8dbc
}
.skin-blue .content-header {
    background:0 0
}
.skin-blue .left-side,.skin-blue .main-sidebar,.skin-blue .wrapper {
    background-color:#222d32
}
.skin-blue .user-panel>.info,.skin-blue .user-panel>.info>a {
    color:#fff
}
