<a data-toggle="collapse" href="#finder-critere-ajouter" class="question" >  Affiner la recherche à l’aide de filtres  </a>
<div id="finder-critere-ajouter" class="collapse">
    <ol >
        <li> Cliquer sur l’onglet <i class="fa fa-plus-circle"></i>Ajouter </li>
        <li> Dérouler l’arbre de compétences puis naviguer dans les catégories afin d’accéder à la compétence souhaitée </li>
        <li> Cliquer sur la compétence pour l’ajouter </li>
        <li> La compétence apparaît dans l’onglet Filtres </li>
    </ol>
</div>



