<div *ngIf= "view=='box'; then  templateBox"> </div>
<div *ngIf= "!view; then  templateGlobal"> </div>


<ng-template #templateGlobal>
    <section class="content-header">
        <h1> Detail de Competence </h1>
    </section>
    <section classs="content">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="true; then templateBox"></div>
            </div>
        </div>
    </section>
</ng-template>

<ng-template #templateBox>
    <div class="box box-success">
        <div *ngIf="competence">
            <div class="box-header">
                <i class="ion ion-ribbon-b text-green"></i> <h3 class="box-title"> Compétence <small> {{competence.libelle}} </small></h3>
            </div>
            <div class="box-body pad table-responsive fiche" *ngIf="competence.id">
                <div *ngIf="competence; then templateContent"> </div>
            </div>
            <div class="box-footer" *ngIf="competence.id">

                <div class="btn-group">
                    <button type="button" class="btn btn-success">Action</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ><a (click)= "openEditModal()" > <span class="fa fa-pencil"> </span> Editer </a> </li>
                        <li ><a (click)= "openDeleteModal()"> <i class="fa fa-trash-o"> </i> Supprimer </a> </li>
                    </ul>
                </div>

<!--                 <button type="submit" (click)= "openEditModal()"                class="btn btn-primary ">   <span class="fa fa-pencil"> </span> Edtiter </button>
                <button type="submit" (click)= "openDeleteModal()"              class="btn btn-danger " *ngIf= "view=='box'">  <span class="fa fa-trash-o"> Supprimer </span></button> -->
            </div>
        </div>
    </div>
</ng-template>

<ng-template #templateContent>
    <strong> <i class="fa fa-map-marker margin-r-5"></i> Nom</strong>  <p class="text-muted">{{competence.nom}}</p>
    <strong> <i class="fa fa-tag margin-r-5"></i> Libelle</strong><p class="text-muted">{{competence.libelle}}</p>
    <strong> <i class="fa fa-commenting margin-r-5"></i> Description</strong><p class="text-muted">{{competence.description}}</p>
    <div *ngIf= "view=='global'"> 
        <strong> <i class="fa fa-map-marker margin-r-5"></i> brancheParente Id</strong>  <p class="text-muted">{{competence.brancheParenteId}}</p>
    </div>
</ng-template>


<ng-template #loading>Loading </ng-template>





