<section class="content-header">
    <alert></alert>
    <h1>  <i class="ion ion-ribbon-b  text-red"></i> {{ 'collaborateur.competence.titre' | translate }}
        <div class="box-tools pull-right">
            <div href="#aide" data-toggle="collapse" title="{{ 'infobulle.aide' | translate }}"> <i class="fa fa-info-circle fa-lg"></i> </div>
        </div>
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <!-- ecran d'aide -->
    <div class="box  box-primary collapse" id="aide">
        <div class="box-body">
            <ul class="nav nav-pills nav-stacked">
                <li> <app-info-competence-ajouter></app-info-competence-ajouter> </li>
                <li> <app-info-competence-evaluer></app-info-competence-evaluer> </li>
                <li> <app-info-competence-supprimer></app-info-competence-supprimer> </li>
            </ul>
        </div>
    </div>


    <div class="row">
        <!-- ecran gauche - Arbre -->
        <div class="col-md-4">
            <app-branche
                (eventClickCompetence)  =   'updateSelectedCompetence($event.competence, $event.competences)'
                [branches]              =   "contextService.branches"
                [view]                  =   "'box'"
            ></app-branche>
        </div>
        <!-- ecran droite - Listes des compétences-->
        <div class="col-md-8">
            <app-competence-acquise-multi-edit
                [competenceToAdd]           =   "selectedCompetence"
            ></app-competence-acquise-multi-edit>
        </div>

    </div>
</section>

