<a data-toggle="collapse" href="#ajouter-competence" class="question"  [innerHTML]="'aide.competence.ajouter.titre' | translate">Comment ajouter une compétence ?  </a>
<div id="ajouter-competence" class="collapse">
    <ol>
        <li>Dérouler l'arbre de compétence depuis la partie de gauche </li>
        <li>Naviguer dans les catégories pour accéder aux compétences souhaitées </li>
        <li>Cliquer ensuite sur la compétence pour l'ajouter </li>
        <li>La compétence sélectionnée apparait dans la partie de droite </li>
    </ol>
</div>